In [8]:
import pandas

In [10]:
df = pandas.DataFrame([[1,2,3],[4,5,6]])

In [13]:
df

   0  1  2
0  1  2  3
1  4  5  6

In [15]:
print(df)

   0  1  2
0  1  2  3
1  4  5  6

In [2]:
df = pandas.read_csv("steak-risk-survey.csv")

NameError: name 'pandas' is not defined

In [4]:
import pandas
df = pandas.read_csv("steak-risk-survey.csv")